extends layout

block content
  script(src="./js/index.js")
  h1= title
  div
    input(id="url",placeholder="url", value="10.10.60.36")
  div
    button(id="submit", onclick="openWs()") Open WS
  div
    textarea(id="message")
  div
    button(id="submit", onclick="send()") Send
